html,
body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#websiteHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

#contentContainer {
  flex: 1;
  display: flex;
}

#sidebar {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 250px;
}

/* #projectsHeader {
  padding-left: 10px;
} */

#newProjectButton {
  width: 100%;
  height: 50px;
}

#content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

/* #toDoItemsHeader {
  padding-left: 10px;
} */

#newToDoButton {
  height: 50px;
  width: 250px;
}

form {
  display: flex;
  flex-direction: column;
}

#projectsContainer {
  display: flex;
  flex-direction: column;
}

.project-button {
  height: 50px;
}

#currentProject {
  margin: 0;
}
